$backgroundA : #333333;
$spotA : #0392d6;
$spotB : #777777;
$lightgray : rgba(0,0,0,0.2);

html {
  background: $backgroundA;
  font-size: 120%;
}

a {
  text-decoration: none;
  color: $spotA;
}

a:hover {
  color: #42BCE2;
}


img {
  max-width: 100%;
}

h1 {
  color: $spotA;
  font-size: 150%;
}

h2 {
  font-size: 125%;
  color: $spotB;
  font-weight: normal;
}

.portfolioItem {
  position: relative;
  top: 0;
  background: #eeeeee;
  margin-top: 35px;
  padding: 2px;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.14);
  transition: all 0.25s linear;
}

.portfolioItem:hover {
  position: relative;
  background: $backgroundA;
  top: -5px;
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.14);
  transition: all 0.05s linear;
}

.portfolioItem h1 {
  color: $spotA
}

.portfolioItem h2 {
  color: $spotB
}

.portfolioItem:active h1 {
  color: white;
}

.portfolioItem:active h2 {
  color: white;
}